.section-1{


}
/* .img2{
     
    width: 20em; 
    height: 40em; 
    margin-right: 0%;
    } */
    .foot{
        background-color: #e4e2e2;
        height: 100%;
     }
     .section-11{
        background-color: rgb(207, 207, 207);
     }
     .infobox{
        margin-top: 95px;
     }